.content {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.content-left {
    width: 50%;
}
.content-right {
    width: 50%;
}
.p_style_test {
    height: 14px;
    color: cornflowerblue;
}
